<div class="engine-container">

    <div class="engine-view-container">
        <router-outlet></router-outlet>
    </div>
    
    
    <div [class.hidden]="!buttonsVisibleInRoutes.includes(getRoute())" class="btn-container">
        
        <button 
            *ngIf="ws.isSetStarted()" class="btn next-speech mat-elevation-z8" color="warn" 
            (click)="insertSpeech()"
            [disabled]="isLoadingSpeech || ws.activeAction.type == 'speech' || ws.getNextActionType() === 'speech'"
            [class.spinner]="isLoadingSpeech"
            >Speech
        </button>
        <button 
            *ngIf="ws.isSetStarted()" 
            class="btn next-action mat-elevation-z8"
            [class.spinner]="isLoadingNext" color="warn" 
            [disabled]="isLoadingNext"
            (click)="nextEvent()">
            {{ws.getNextAction()=='End set'?'End set':'Next'}}
        </button>
        <!-- <button *ngIf="ws.isSetStarted()" class="btn next-speech" color="warn" (click)="nextEvent()">Speech</button> -->
    </div>

    <mat-toolbar color="secondary" class="engine-action-bar">
        <div class="engine-nav-btn-container">

            <button mat-flat-button [color]="getRoute()==='/engine/songs'?'primary':''" routerLink="/engine/songs">Songs</button>
            <button mat-flat-button [color]="getRoute()==='/engine/setlist'?'primary':''" routerLink="/engine/setlist">Setlist</button>
            <button mat-flat-button [color]="getRoute()==='/engine/lyrics'?'primary':''" routerLink="/engine/lyrics">Lyrics</button>
            <button mat-flat-button [color]="getRoute()==='/engine/metronome'?'primary':''" routerLink="/engine/metronome">Metronome</button>
            <button mat-button [color]="getRoute()==='/engine/buttons'?'primary':''" routerLink="/engine/buttons">Control</button>
            <!-- <button mat-button routerLink="/engine/status">Status</button> -->
            <!-- <button mat-button routerLink="/engine/debug">Debug</button> -->

            <!-- <mat-nav-list>
                <a mat-list-item routerLink="/engine">Setlist</a>
                <a mat-list-item routerLink="/setlist/create">Lyrics</a>
                <a mat-list-item routerLink="/settings">Control</a>
                <a mat-list-item routerLink="/devices">DeviStatusces</a>
                <a mat-list-item routerLink="/logs">Debug</a>
            </mat-nav-list> -->

        </div>
        
    </mat-toolbar>
    
</div>