.engine-container
    // height: 100%

    .engine-view-container
        height: 100%
        width: 100%
        overflow-x: clip

    .btn-container
        position: fixed
        right: 15px
        bottom: 75px
    .engine-action-bar
        // max-width: 500px
        position: fixed
        // position: -webkit-sticky
        bottom: 0
        z-index: 1
        .engine-nav-btn-container
            max-width: 500px                