


<div class="mat-elevation-z8 table-container" *ngIf="!isLoading">

    <mat-form-field>
        <input matInput placeholder="Search songs" #input>
    </mat-form-field>


    <!-- <mat-form-field>
        <mat-label>a</mat-label>
    </mat-form-field> -->


    <!-- <button mat-icon-button>
        <mat-icon>view_column</mat-icon>
        <mat-menu #columns>
        </mat-menu>
    </button> -->

    <button mat-raised-button color="warn" class="right" (click)="onCreateSong()">
        <mat-icon>add</mat-icon>
        Add Song
    </button>

    <mat-table [dataSource]="songs"
        matSort
        matSortActive="tempo"
        matSortDirection="asc"
        matSortDisableClear
    >
        
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let song">{{song.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="artist">
            <mat-header-cell *matHeaderCellDef>Artist</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let song">{{song.artist}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lead_singer">
            <mat-header-cell *matHeaderCellDef>Lead</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let song">{{song.lead_singer}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tempo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tempo</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let song">{{song.tempo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="key">
            <mat-header-cell *matHeaderCellDef>Song key</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let song">{{song.key}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="duration">
            <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let song">{{formatDuration(song.duration)}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="tags">
            <mat-header-cell *matHeaderCellDef>Tags</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let song">
                <mat-chip-list>
                    <mat-chip>Tag1</mat-chip>
                    <mat-chip>Tag2</mat-chip>
                </mat-chip-list>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lyrics">
            <mat-header-cell *matHeaderCellDef>Lyrics</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let song">
                <button *ngIf="song.lyrics" mat-raised-button color="secondary" class="right" (click)="onViewLyric(song)">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button *ngIf="!song.lyrics" mat-raised-button color="primary" class="right" (click)="onViewLyric(song)">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"
            (click)="onRowClicked(row)">
        </mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="[5,20,50]"></mat-paginator>

</div>