
.set-container
    margin: auto
    padding: 20px
    background-color: #494747
    border-radius: 5px
    max-width: 600px
    text-align: center
    margin-top: 20px

    .actions
        h1
            margin: 15px
            &.is-cue-item
                background-color: #11be5315
                border-radius: 5px
        .current
            background-color: #746f6f
            padding: 10px
            // margin: 0px -10px
            border: solid red 1px
            border-radius: 5px

        .blackout-indicator
            color: black
            // right: 20px
            // float: right
            display: block
            position: absolute
            width: fit-content
            // margin: 0px
            margin-left: auto
            border: solid black 1px
            padding: 5px
            border-radius: 5px

        .song
            // height: 60px

.no-set-container
    // background-color: grey
    // display: flex
    // justify-content: center
    // align-items: center
    padding-top: 2em 
    text-align: center
    width: 100%
    height: 100%

.action-preview
    background-color: orange
    border: solid black 1px
    border-radius: 15px
    margin-top: 2em
    margin-left: auto
    margin-right: auto
    padding-top: 1em
    text-align: center
    width: auto
    max-width: 400px
    height: 100%