<h1>Edit Light Command</h1>

<div class="form-container">

<form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [value]="data.name" formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>OSC</mat-label>
        <input matInput [value]="data.osc_path" formControlName="osc_path" required>
    </mat-form-field>

    <h4>Onyx</h4>
    <mat-form-field appearance="outline" class="left">
        <mat-label>Page</mat-label>
        <input matInput type="number" [value]="getOnyxPage(data.osc_path)" formControlName="onyxPage">
    </mat-form-field>

    <mat-form-field appearance="outline" class="right">
        <mat-label>Number</mat-label>
        <input matInput type="number" [value]="getOnyxNumber(data.osc_path)" formControlName="onyxNumber">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
            <mat-option *ngFor="let type of CUELIST_TYPES" [value]="type" >
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <input matInput type="number" [value]="data.category" formControlName="category">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput [value]="data.description" formControlName="description"></textarea>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onSave()" [class.spinner]="isLoading">Save</button>
        <button mat-raised-button color="secondary" (click)="testOsc('go')" [class.spinner]="isTestingGo">Test Go</button>
        <button mat-raised-button color="secondary" (click)="testOsc('release')" [class.spinner]="isTestingRelease">Test Release</button>
    </div>

</form>
</div>
