<div class="container">

    <span *ngIf="setlists.length == 0">
        No setlists available
    </span>

<mat-accordion *ngIf="setlists.length > 0">
    <mat-expansion-panel *ngFor="let set of setlists">
        <mat-expansion-panel-header>

            <mat-panel-title>{{set.name}}</mat-panel-title>

            <mat-panel-description>{{set.comments}}</mat-panel-description>

        </mat-expansion-panel-header>

        <div class="content">

            <section>
                <div *ngFor="let action of set.actions">
                    <div *ngIf="action.type == 'song'">
                        {{action.title}}
                    </div>
                    <div *ngIf="action.type == 'speech'"><small>Speech</small></div>
                </div>
            </section>

            <section class="info">
                <span>Duration: {{getEstimatedDuration(set)}}</span><br>
                <span>Songs: {{getNbrOfSongsInCue(set)}}</span>
            </section>

            <section class="control">
                <button mat-button (click)="onLoadSet(set)" color="secondary"><mat-icon>play_circle_outline</mat-icon>Load</button>
                <button mat-button (click)="onEditSet(set)"><mat-icon>edit</mat-icon> Open in editor</button>
                <button mat-button (click)="onDeleteSet(set)"><mat-icon>delete</mat-icon>Delete</button>
            </section>

        </div>

    </mat-expansion-panel>
</mat-accordion>

</div>
