<div class="container">

    <h1>Add new song</h1>
    <mat-divider></mat-divider>
    
    <mat-stepper [orientation]='"horizontal"'>
        <mat-step>
            
            
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Artist</mat-label>
                <input matInput>
            </mat-form-field>
            
            <mat-divider></mat-divider>
            
            
            
            <mat-form-field class="example-chip-list" appearance="outline">
                <mat-label>Song tags</mat-label>
                <mat-chip-list #chipList aria-label="Tag selection">
                    <mat-chip
                    *ngFor="let tag of tags"
                    [selectable]="true"
                    [removable]="true"
                    (removed)="tagRemove(tag)">
                    {{tag}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input
                placeholder="New tag..."
                #tagInput
                
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="tagAdd($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                    {{tag}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        
        
    </mat-step>
    
    <mat-step>
        Step 2 here
    </mat-step>
    
    
</mat-stepper>
</div>