<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/engine">Live</a>
      <!-- <a mat-list-item routerLink="/setlist/create">Setlist Creator</a> -->
      <!-- <a mat-list-item routerLink="/setlist/">Setlists</a> -->
      <a mat-list-item routerLink="/songs">Song Book</a>
      <!-- <a mat-list-item routerLink="/settings">Settings</a> -->
      <a mat-list-item routerLink="/devices">Devices</a>
      <a mat-list-item routerLink="/logs">Logs</a>

      <mat-divider></mat-divider>

      <!-- Fullscreen btn -->
      <div mat-list-item>
        <a mat-icon-button appToggleFullScreen>
          <mat-icon>
            fullscreen
          </mat-icon>
          Fullscreen
        </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar [color]="ws.isLoaded ? 'secondary':'primary'">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>




      <!-- Song loaded -->
      <span *ngIf="ws.isLoaded && ws.activeSetlistActionId != -2; else logo" class="set-loaded-container">
        <!-- <span>
          {{ws.setlist.name}} -  
        </span> -->

        <!-- When set is started -->
        <span *ngIf="ws.isSetStarted() && ws.activeSetlistActionId != -2" class="center">
          <b>{{ws.activeAction.title ? ws.activeAction.title : ""}}</b>
          <i>{{ws.activeAction.title ? "" : ws.activeAction.type}}</i>
        </span>
        <!-- When set is not started -->
        <span *ngIf="!ws.isSetStarted() && ws.activeSetlistActionId != -2" class="center">
          <button mat-raised-button color="primary" (click)="ws.startSet()">
            Start set
          </button>
        </span>

        <!-- When set is running -->
        <button mat-stroked-button 
          *ngIf="ws.isSetStarted() && ws.activeSetlistActionId >= 0" 
          class="next-event" 
          (click)="ws.send('next-song')">
          Next: {{ws.getNextAction()}}
        </button>

      </span>

      <!-- Default -->
      <ng-template #logo>
        <span>LiveTools</span>
      </ng-template>

      <!-- When preview is active -->
      <span  *ngIf="ws.activeSetlistActionId == -2" class="set-loaded-container">
        <b class="song-title">{{ws.activeAction.title}}</b>
        <span>
          <button mat-raised-button color="secondary"  (click)="this.releasePreview()">
            Release preview
          </button>
        </span>
      </span>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
