<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/engine">Live</a>
      <a mat-list-item routerLink="/setlist/create">Setlist Creator</a>
      <a mat-list-item routerLink="/songs">Song Book</a>
      <a mat-list-item routerLink="/settings">Settings</a>
      <a mat-list-item routerLink="/devices">Devices</a>
      <a mat-list-item routerLink="/logs">Logs</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar [color]="ws.isLoaded ? 'secondary':'primary'">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- Song loaded -->
      <span *ngIf="ws.isLoaded; else logo" class="set-loaded-container">
        {{ws.setlist.name}}

        <!-- When set is not started -->
        <span *ngIf="!ws.isSetStarted()">
          <button mat-raised-button color="primary"  (click)="ws.startSet()">
            Start set
          </button>
        </span>


        <!-- When set is running -->
        <div *ngIf="ws.isSetStarted()" class="next-event">
          Next: {{ws.getNextAction()}}
        </div>


      </span>

      <!-- Default -->
      <ng-template #logo>
        <span>LiveTools</span>
      </ng-template>

      <!-- Fullscreen btn -->
      <div class="right">
        <button mat-icon-button appToggleFullScreen>
          <mat-icon>
            fullscreen
          </mat-icon>
        </button>
      </div>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
